In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("fhv_tripdata_2019-01.csv", nrows=100)

In [4]:
df

,dispatching_base_num,pickup_datetime,dropOff_datetime,PUlocationID,DOlocationID,SR_Flag,Affiliated_base_number
0,B00001,2019-01-01 00:30:00,2019-01-01 02:51:55,NaN,NaN,NaN,B00001
1,B00001,2019-01-01 00:45:00,2019-01-01 00:54:49,NaN,NaN,NaN,B00001
2,B00001,2019-01-01 00:15:00,2019-01-01 00:54:52,NaN,NaN,NaN,B00001
3,B00008,2019-01-01 00:19:00,2019-01-01 00:39:00,NaN,NaN,NaN,B00008
4,B00008,2019-01-01 00:27:00,2019-01-01 00:37:00,NaN,NaN,NaN,B00008
...,...,...,...,...,...,...,...
95,B00248,2019-01-01 00:11:09,2019-01-01 00:20:59,NaN,265.0,NaN,B00248
96,B00248,2019-01-01 00:52:34,2019-01-01 01:01:06,NaN,265.0,NaN,B00248
97,B00248,2019-01-01 00:17:44,2019-01-01 00:24:03,NaN,265.0,NaN,B00248
98,B00248,2019-01-01 00:00:10,2019-01-01 00:33:26,NaN,265.0,NaN,B00248
99,B00248,2019-01-01 00:06:00,2019-01-01 00:36:23,NaN,265.0,NaN,B00248

In [5]:
print(pd.io.sql.get_schema(df, name="fhv_trips_01"))

CREATE TABLE "fhv_trips_01" (
"dispatching_base_num" TEXT,
  "pickup_datetime" TEXT,
  "dropOff_datetime" TEXT,
  "PUlocationID" REAL,
  "DOlocationID" REAL,
  "SR_Flag" REAL,
  "Affiliated_base_number" TEXT
)

In [6]:
df.pickup_datetime = pd.to_datetime(df.pickup_datetime)
df.dropOff_datetime = pd.to_datetime(df.dropOff_datetime)

In [7]:
print(pd.io.sql.get_schema(df, name="fhv_trips_01"))

CREATE TABLE "fhv_trips_01" (
"dispatching_base_num" TEXT,
  "pickup_datetime" TIMESTAMP,
  "dropOff_datetime" TIMESTAMP,
  "PUlocationID" REAL,
  "DOlocationID" REAL,
  "SR_Flag" REAL,
  "Affiliated_base_number" TEXT
)