In [1]:
!pip install pandas

Collecting pandas
  Using cached pandas-2.1.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (12.3 MB)
Collecting tzdata>=2022.1
  Using cached tzdata-2023.3-py2.py3-none-any.whl (341 kB)
Collecting pytz>=2020.1
  Using cached pytz-2023.3.post1-py2.py3-none-any.whl (502 kB)
Collecting numpy>=1.22.4
  Using cached numpy-1.26.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (18.2 MB)
Requirement already satisfied: python-dateutil>=2.8.2 in ./nyc/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in ./nyc/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-1.26.1 pandas-2.1.1 pytz-2023.3.post1 tzdata-2023.3

In [2]:
import pandas as pd

In [3]:
pd.__version__

'2.1.1'

In [10]:
!wget 'https://github.com/DataTalksClub/nyc-tlc-data/releases/download/yellow/yellow_tripdata_2021-06.csv.gz' -O ./data/yellow_tripdata_2021-06.csv.gz

--2023-10-26 23:11:34--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/yellow/yellow_tripdata_2021-06.csv.gz
Resolving github.com (github.com)... 20.87.245.0
Connecting to github.com (github.com)|20.87.245.0|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/d74c9b25-23a3-45f6-983d-d5bb7a36f590?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20231026%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20231026T201135Z&X-Amz-Expires=300&X-Amz-Signature=68e43c21ffff58e6d598a377ed629c003b5bfc7ae339d25926d823f0d452adc1&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dyellow_tripdata_2021-06.csv.gz&response-content-type=application%2Foctet-stream [following]
--2023-10-26 23:11:35--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/d74c9b25-23a3-45f6-983d-d5bb7a36f590?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20231026%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20231026T201135Z&X-Amz-Expires=300&X-Amz-Signature=68e43c21ffff58e6d598a377ed629c003b5bfc7ae339d25926d823f0d452adc1&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dyellow_tripdata_2021-06.csv.gz&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 52500930 (50M) [application/octet-stream]
Saving to: ‘./data/yellow_tripdata_2021-06.csv.gz’

./data/yellow_tripd 100%[===================>]  50.07M   153KB/s    in 4m 55s

2023-10-26 23:16:33 (174 KB/s) - ‘./data/yellow_tripdata_2021-06.csv.gz’ saved [52500930/52500930]

In [4]:
df_2020 = pd.read_csv('data/yellow_tripdata_2020-07.csv.gz', nrows=100)
df_2020

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2020-07-01 00:25:32,2020-07-01 00:33:39,1,1.50,1,N,238,75,2,8.0,0.5,0.5,0.00,0.0,0.3,9.30,0.0
1,1,2020-07-01 00:03:19,2020-07-01 00:25:43,1,9.50,1,N,138,216,1,26.5,0.5,0.5,0.00,0.0,0.3,27.80,0.0
2,2,2020-07-01 00:15:11,2020-07-01 00:29:24,1,5.85,1,N,230,88,2,18.5,0.5,0.5,0.00,0.0,0.3,22.30,2.5
3,2,2020-07-01 00:30:49,2020-07-01 00:38:26,1,1.90,1,N,88,232,1,8.0,0.5,0.5,2.36,0.0,0.3,14.16,2.5
4,2,2020-07-01 00:31:26,2020-07-01 00:38:02,1,1.25,1,N,37,17,2,6.5,0.5,0.5,0.00,0.0,0.3,7.80,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,1,2020-07-01 00:46:44,2020-07-01 01:05:20,1,4.10,1,N,90,238,1,17.0,3.0,0.5,4.15,0.0,0.3,24.95,2.5
96,1,2020-07-01 00:08:43,2020-07-01 00:33:43,1,5.70,1,N,186,217,2,21.5,3.0,0.5,0.00,0.0,0.3,25.30,2.5
97,2,2020-07-01 00:15:37,2020-07-01 00:34:29,1,14.19,1,N,132,7,1,38.5,0.5,0.5,7.96,0.0,0.3,47.76,0.0
98,2,2020-07-01 00:38:02,2020-07-01 00:49:24,1,2.47,1,N,7,145,2,10.5,0.5,0.5,0.00,0.0,0.3,11.80,0.0
99,2,2020-07-01 00:15:10,2020-07-01 00:17:55,1,0.88,1,N,141,229,1,4.5,0.5,0.5,0.50,0.0,0.3,8.80,2.5

In [5]:
df_2021 = pd.read_csv('data/yellow_tripdata_2021-07.csv.gz', nrows=100)
df_2021

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2021-07-01 00:08:51,2021-07-01 00:13:05,1,0.80,1,N,90,68,1,5.0,3.0,0.5,0.00,0.0,0.3,8.80,2.5
1,1,2021-07-01 00:22:39,2021-07-01 00:25:58,1,0.90,1,N,113,90,2,5.0,3.0,0.5,0.00,0.0,0.3,8.80,2.5
2,1,2021-07-01 00:48:33,2021-07-01 00:54:58,1,2.80,1,N,88,232,2,10.0,3.0,0.5,0.00,0.0,0.3,13.80,2.5
3,1,2021-07-01 00:59:44,2021-07-01 01:07:09,1,1.40,1,N,79,249,1,7.0,3.0,0.5,1.50,0.0,0.3,12.30,2.5
4,1,2021-07-01 00:08:35,2021-07-01 00:16:28,0,2.00,1,N,142,238,1,8.5,3.0,0.5,0.00,0.0,0.3,12.30,2.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,1,2021-07-01 00:35:21,2021-07-01 00:40:49,1,1.40,1,N,249,68,1,6.5,3.0,0.5,2.55,0.0,0.3,12.85,2.5
96,2,2021-07-01 00:04:34,2021-07-01 00:20:15,2,3.11,1,N,48,4,1,13.5,0.5,0.5,3.46,0.0,0.3,20.76,2.5
97,2,2021-07-01 00:29:29,2021-07-01 00:36:14,3,2.84,1,N,79,140,1,9.5,0.5,0.5,3.32,0.0,0.3,16.62,2.5
98,1,2021-07-01 00:12:37,2021-07-01 00:22:54,1,2.00,1,N,41,116,2,9.5,0.5,0.5,0.00,0.0,0.3,10.80,0.0
99,1,2021-07-01 00:27:11,2021-07-01 00:35:23,1,2.00,1,N,116,151,1,9.0,0.5,0.5,4.00,0.0,0.3,14.30,0.0

In [6]:
df_2021.dtypes

VendorID                   int64
tpep_pickup_datetime      object
tpep_dropoff_datetime     object
passenger_count            int64
trip_distance            float64
RatecodeID                 int64
store_and_fwd_flag        object
PULocationID               int64
DOLocationID               int64
payment_type               int64
fare_amount              float64
extra                    float64
mta_tax                  float64
tip_amount               float64
tolls_amount             float64
improvement_surcharge    float64
total_amount             float64
congestion_surcharge     float64
dtype: object

In [8]:
df_2021['tpep_pickup_datetime'] = pd.to_datetime(df_2021['tpep_pickup_datetime'])
df_2021['tpep_dropoff_datetime'] = pd.to_datetime(df_2021['tpep_dropoff_datetime'])
df_2021.dtypes

VendorID                          int64
tpep_pickup_datetime     datetime64[ns]
tpep_dropoff_datetime    datetime64[ns]
passenger_count                   int64
trip_distance                   float64
RatecodeID                        int64
store_and_fwd_flag               object
PULocationID                      int64
DOLocationID                      int64
payment_type                      int64
fare_amount                     float64
extra                           float64
mta_tax                         float64
tip_amount                      float64
tolls_amount                    float64
improvement_surcharge           float64
total_amount                    float64
congestion_surcharge            float64
dtype: object