In [1]:
!pip install pandas

Requirement already satisfied: pandas in ./nyc/lib/python3.10/site-packages (2.1.1)
Requirement already satisfied: pytz>=2020.1 in ./nyc/lib/python3.10/site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: numpy>=1.22.4 in ./nyc/lib/python3.10/site-packages (from pandas) (1.26.1)
Requirement already satisfied: tzdata>=2022.1 in ./nyc/lib/python3.10/site-packages (from pandas) (2023.3)
Requirement already satisfied: python-dateutil>=2.8.2 in ./nyc/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in ./nyc/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [2]:
import pandas as pd

In [3]:
pd.__version__

'2.1.1'

In [4]:
!wget 'https://github.com/DataTalksClub/nyc-tlc-data/releases/download/fhv/fhv_tripdata_2020-11.csv.gz' -O ./data/fhv_tripdata_2020-11.csv.gz

--2023-11-16 11:38:05--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/fhv/fhv_tripdata_2020-11.csv.gz
Resolving github.com (github.com)... 20.87.245.0
Connecting to github.com (github.com)|20.87.245.0|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/ce09265c-0c3c-4d55-b756-2a8a3e49c74b?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20231116%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20231116T083806Z&X-Amz-Expires=300&X-Amz-Signature=dda4446fbc0907205b1327247659d3361220045e5338088c1bb218d629bbc92b&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dfhv_tripdata_2020-11.csv.gz&response-content-type=application%2Foctet-stream [following]
--2023-11-16 11:38:06--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/ce09265c-0c3c-4d55-b756-2a8a3e49c74b?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20231116%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20231116T083806Z&X-Amz-Expires=300&X-Amz-Signature=dda4446fbc0907205b1327247659d3361220045e5338088c1bb218d629bbc92b&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dfhv_tripdata_2020-11.csv.gz&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12588587 (12M) [application/octet-stream]
Saving to: ‘./data/fhv_tripdata_2020-11.csv.gz’

./data/fhv_tripdata 100%[===================>]  12.00M  1.14MB/s    in 12s

2023-11-16 11:38:19 (1.03 MB/s) - ‘./data/fhv_tripdata_2020-11.csv.gz’ saved [12588587/12588587]

In [5]:
df_2020 = pd.read_csv('data/fhv_tripdata_2020-11.csv.gz', nrows=100)
df_2020

,dispatching_base_num,pickup_datetime,dropoff_datetime,PULocationID,DOLocationID,SR_Flag,Affiliated_base_number
0,B00008,2020-11-01 00:40:00,2020-11-01 01:10:00,NaN,NaN,NaN,B00008
1,B00013,2020-11-01 00:30:00,2020-11-01 01:04:00,NaN,NaN,NaN,B00014
2,B00013,2020-11-01 00:06:27,2020-11-01 00:57:00,NaN,NaN,NaN,B00888
3,B00014,2020-11-01 00:30:00,2020-11-01 01:17:00,NaN,NaN,NaN,B00014
4,B00014,2020-11-01 00:30:00,2020-11-01 00:56:00,NaN,NaN,NaN,B01197
...,...,...,...,...,...,...,...
95,B00310,2020-11-01 00:06:37,2020-11-01 00:14:34,NaN,126.0,NaN,B02880
96,B00310,2020-11-01 00:20:39,2020-11-01 00:24:25,NaN,126.0,NaN,B02880
97,B00310,2020-11-01 00:27:57,2020-11-01 00:35:25,NaN,248.0,NaN,B02880
98,B00310,2020-11-01 00:43:38,2020-11-01 00:56:10,NaN,254.0,NaN,B02880
99,B00310,2020-11-01 00:30:49,2020-11-01 00:41:41,NaN,69.0,NaN,B02872

In [5]:
df_2021 = pd.read_csv('data/yellow_tripdata_2021-07.csv.gz', nrows=100)
df_2021

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2021-07-01 00:08:51,2021-07-01 00:13:05,1,0.80,1,N,90,68,1,5.0,3.0,0.5,0.00,0.0,0.3,8.80,2.5
1,1,2021-07-01 00:22:39,2021-07-01 00:25:58,1,0.90,1,N,113,90,2,5.0,3.0,0.5,0.00,0.0,0.3,8.80,2.5
2,1,2021-07-01 00:48:33,2021-07-01 00:54:58,1,2.80,1,N,88,232,2,10.0,3.0,0.5,0.00,0.0,0.3,13.80,2.5
3,1,2021-07-01 00:59:44,2021-07-01 01:07:09,1,1.40,1,N,79,249,1,7.0,3.0,0.5,1.50,0.0,0.3,12.30,2.5
4,1,2021-07-01 00:08:35,2021-07-01 00:16:28,0,2.00,1,N,142,238,1,8.5,3.0,0.5,0.00,0.0,0.3,12.30,2.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,1,2021-07-01 00:35:21,2021-07-01 00:40:49,1,1.40,1,N,249,68,1,6.5,3.0,0.5,2.55,0.0,0.3,12.85,2.5
96,2,2021-07-01 00:04:34,2021-07-01 00:20:15,2,3.11,1,N,48,4,1,13.5,0.5,0.5,3.46,0.0,0.3,20.76,2.5
97,2,2021-07-01 00:29:29,2021-07-01 00:36:14,3,2.84,1,N,79,140,1,9.5,0.5,0.5,3.32,0.0,0.3,16.62,2.5
98,1,2021-07-01 00:12:37,2021-07-01 00:22:54,1,2.00,1,N,41,116,2,9.5,0.5,0.5,0.00,0.0,0.3,10.80,0.0
99,1,2021-07-01 00:27:11,2021-07-01 00:35:23,1,2.00,1,N,116,151,1,9.0,0.5,0.5,4.00,0.0,0.3,14.30,0.0

In [6]:
df_2021.dtypes

VendorID                   int64
tpep_pickup_datetime      object
tpep_dropoff_datetime     object
passenger_count            int64
trip_distance            float64
RatecodeID                 int64
store_and_fwd_flag        object
PULocationID               int64
DOLocationID               int64
payment_type               int64
fare_amount              float64
extra                    float64
mta_tax                  float64
tip_amount               float64
tolls_amount             float64
improvement_surcharge    float64
total_amount             float64
congestion_surcharge     float64
dtype: object

In [8]:
df_2021['tpep_pickup_datetime'] = pd.to_datetime(df_2021['tpep_pickup_datetime'])
df_2021['tpep_dropoff_datetime'] = pd.to_datetime(df_2021['tpep_dropoff_datetime'])
df_2021.dtypes

VendorID                          int64
tpep_pickup_datetime     datetime64[ns]
tpep_dropoff_datetime    datetime64[ns]
passenger_count                   int64
trip_distance                   float64
RatecodeID                        int64
store_and_fwd_flag               object
PULocationID                      int64
DOLocationID                      int64
payment_type                      int64
fare_amount                     float64
extra                           float64
mta_tax                         float64
tip_amount                      float64
tolls_amount                    float64
improvement_surcharge           float64
total_amount                    float64
congestion_surcharge            float64
dtype: object

In [1]:
import pyarrow.csv as pv
import pyarrow.parquet as pq

In [2]:
data_file = 'yellow_tripdata_2021-06.csv.gz'
url = f'https://github.com/DataTalksClub/nyc-tlc-data/releases/download/yellow/{data_file}'
filename = f'data/{data_file}'

In [3]:
table = pv.read_csv(filename)

In [ ]:
pq.write_table(table, filename.replace('.csv', '.parquet'))