In [1]:
!pip install pyspark

Requirement already satisfied: pyspark in ./change/lib/python3.10/site-packages (3.5.1)
Requirement already satisfied: py4j==0.10.9.7 in ./change/lib/python3.10/site-packages (from pyspark) (0.10.9.7)

In [1]:
import pyspark

In [3]:
pyspark.__version__

'3.5.1'

In [2]:
from pyspark.sql import  SparkSession

In [3]:
spark = SparkSession.builder \
    .master("local[*]") \
    .appName("test") \
    .getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/03/26 14:41:46 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [6]:
!wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv

--2024-03-12 21:52:58--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv
Resolving github.com (github.com)... 20.87.245.0
Connecting to github.com (github.com)|20.87.245.0|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/5a2cc2f5-b4cd-4584-9c62-a6ea97ed0e6a?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240312%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240312T185300Z&X-Amz-Expires=300&X-Amz-Signature=fd6a34724da23ff593705b0b433458c3c6be1a79d4ea732c1c334be46cd40ee2&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dtaxi_zone_lookup.csv&response-content-type=application%2Foctet-stream [following]
--2024-03-12 21:52:59--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/5a2cc2f5-b4cd-4584-9c62-a6ea97ed0e6a?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240312%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240312T185300Z&X-Amz-Expires=300&X-Amz-Signature=fd6a34724da23ff593705b0b433458c3c6be1a79d4ea732c1c334be46cd40ee2&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dtaxi_zone_lookup.csv&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [application/octet-stream]
Saving to: ‘taxi_zone_lookup.csv.1’

taxi_zone_lookup.cs 100%[===================>]  12.03K  --.-KB/s    in 0.001s

2024-03-12 21:53:00 (9.14 MB/s) - ‘taxi_zone_lookup.csv.1’ saved [12322/12322]

In [7]:
!head taxi_zone_lookup.csv

"LocationID","Borough","Zone","service_zone"
1,"EWR","Newark Airport","EWR"
2,"Queens","Jamaica Bay","Boro Zone"
3,"Bronx","Allerton/Pelham Gardens","Boro Zone"
4,"Manhattan","Alphabet City","Yellow Zone"
5,"Staten Island","Arden Heights","Boro Zone"
6,"Staten Island","Arrochar/Fort Wadsworth","Boro Zone"
7,"Queens","Astoria","Boro Zone"
8,"Queens","Astoria Park","Boro Zone"
9,"Queens","Auburndale","Boro Zone"

In [8]:
#Reading batch data is just read but stream readstream
df = spark.read.csv('taxi_zone_lookup.csv')

In [9]:
df.show()

+----------+-------------+--------------------+------------+
|       _c0|          _c1|                 _c2|         _c3|
+----------+-------------+--------------------+------------+
|LocationID|      Borough|                Zone|service_zone|
|         1|          EWR|      Newark Airport|         EWR|
|         2|       Queens|         Jamaica Bay|   Boro Zone|
|         3|        Bronx|Allerton/Pelham G...|   Boro Zone|
|         4|    Manhattan|       Alphabet City| Yellow Zone|
|         5|Staten Island|       Arden Heights|   Boro Zone|
|         6|Staten Island|Arrochar/Fort Wad...|   Boro Zone|
|         7|       Queens|             Astoria|   Boro Zone|
|         8|       Queens|        Astoria Park|   Boro Zone|
|         9|       Queens|          Auburndale|   Boro Zone|
|        10|       Queens|        Baisley Park|   Boro Zone|
|        11|     Brooklyn|          Bath Beach|   Boro Zone|
|        12|    Manhattan|        Battery Park| Yellow Zone|
|        13|    Manhattan|   Battery Park City| Yellow Zone|
|        14|     Brooklyn|           Bay Ridge|   Boro Zone|
|        15|       Queens|Bay Terrace/Fort ...|   Boro Zone|
|        16|       Queens|             Bayside|   Boro Zone|
|        17|     Brooklyn|             Bedford|   Boro Zone|
|        18|        Bronx|        Bedford Park|   Boro Zone|
|        19|       Queens|           Bellerose|   Boro Zone|
+----------+-------------+--------------------+------------+
only showing top 20 rows

In [10]:
#show it that the csv file has a header
df = spark.read \
    .option("header", "true") \
    .csv('taxi_zone_lookup.csv')

In [11]:
df.show()

+----------+-------------+--------------------+------------+
|LocationID|      Borough|                Zone|service_zone|
+----------+-------------+--------------------+------------+
|         1|          EWR|      Newark Airport|         EWR|
|         2|       Queens|         Jamaica Bay|   Boro Zone|
|         3|        Bronx|Allerton/Pelham G...|   Boro Zone|
|         4|    Manhattan|       Alphabet City| Yellow Zone|
|         5|Staten Island|       Arden Heights|   Boro Zone|
|         6|Staten Island|Arrochar/Fort Wad...|   Boro Zone|
|         7|       Queens|             Astoria|   Boro Zone|
|         8|       Queens|        Astoria Park|   Boro Zone|
|         9|       Queens|          Auburndale|   Boro Zone|
|        10|       Queens|        Baisley Park|   Boro Zone|
|        11|     Brooklyn|          Bath Beach|   Boro Zone|
|        12|    Manhattan|        Battery Park| Yellow Zone|
|        13|    Manhattan|   Battery Park City| Yellow Zone|
|        14|     Brooklyn|           Bay Ridge|   Boro Zone|
|        15|       Queens|Bay Terrace/Fort ...|   Boro Zone|
|        16|       Queens|             Bayside|   Boro Zone|
|        17|     Brooklyn|             Bedford|   Boro Zone|
|        18|        Bronx|        Bedford Park|   Boro Zone|
|        19|       Queens|           Bellerose|   Boro Zone|
|        20|        Bronx|             Belmont|   Boro Zone|
+----------+-------------+--------------------+------------+
only showing top 20 rows

In [12]:
df.write.parquet('zones')

Higher volume data

In [13]:
!wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/fhvhv/fhvhv_tripdata_2021-01.csv.gz

--2024-03-12 22:09:25--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/fhvhv/fhvhv_tripdata_2021-01.csv.gz
Resolving github.com (github.com)... 20.87.245.0
Connecting to github.com (github.com)|20.87.245.0|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/035746e8-4e24-47e8-a3ce-edcf6d1b11c7?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240312%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240312T190936Z&X-Amz-Expires=300&X-Amz-Signature=18550699d527c42c73f98302b465c4f2dd75b61a2c377ab8a2123c0ca388083a&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dfhvhv_tripdata_2021-01.csv.gz&response-content-type=application%2Foctet-stream [following]
--2024-03-12 22:09:35--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/035746e8-4e24-47e8-a3ce-edcf6d1b11c7?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240312%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240312T190936Z&X-Amz-Expires=300&X-Amz-Signature=18550699d527c42c73f98302b465c4f2dd75b61a2c377ab8a2123c0ca388083a&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dfhvhv_tripdata_2021-01.csv.gz&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.109.133, 185.199.111.133, 185.199.110.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.109.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 129967421 (124M) [application/octet-stream]
Saving to: ‘fhvhv_tripdata_2021-01.csv.gz’

fhvhv_tripdata_2021 100%[===================>] 123.95M   303KB/s    in 5m 17s

2024-03-12 22:14:56 (400 KB/s) - ‘fhvhv_tripdata_2021-01.csv.gz’ saved [129967421/129967421]

In [14]:
!wc -l fhvhv_tripdata_2021-01.csv.gz #count no of rows in a file

508066 fhvhv_tripdata_2021-01.csv.gz

In [21]:
df = spark.read \
    .option("header", "true") \
    .csv('fhvhv_tripdata_2021-01.csv')

In [22]:
df.show()

+-----------------+--------------------+-------------------+-------------------+------------+------------+-------+
|hvfhs_license_num|dispatching_base_num|    pickup_datetime|   dropoff_datetime|PULocationID|DOLocationID|SR_Flag|
+-----------------+--------------------+-------------------+-------------------+------------+------------+-------+
|           HV0003|              B02682|2021-01-01 00:33:44|2021-01-01 00:49:07|         230|         166|   NULL|
|           HV0003|              B02682|2021-01-01 00:55:19|2021-01-01 01:18:21|         152|         167|   NULL|
|           HV0003|              B02764|2021-01-01 00:23:56|2021-01-01 00:38:05|         233|         142|   NULL|
|           HV0003|              B02764|2021-01-01 00:42:51|2021-01-01 00:45:50|         142|         143|   NULL|
|           HV0003|              B02764|2021-01-01 00:48:14|2021-01-01 01:08:42|         143|          78|   NULL|
|           HV0005|              B02510|2021-01-01 00:06:59|2021-01-01 00:43:01|          88|          42|   NULL|
|           HV0005|              B02510|2021-01-01 00:50:00|2021-01-01 01:04:57|          42|         151|   NULL|
|           HV0003|              B02764|2021-01-01 00:14:30|2021-01-01 00:50:27|          71|         226|   NULL|
|           HV0003|              B02875|2021-01-01 00:22:54|2021-01-01 00:30:20|         112|         255|   NULL|
|           HV0003|              B02875|2021-01-01 00:40:12|2021-01-01 00:53:31|         255|         232|   NULL|
|           HV0003|              B02875|2021-01-01 00:56:45|2021-01-01 01:17:42|         232|         198|   NULL|
|           HV0003|              B02835|2021-01-01 00:29:04|2021-01-01 00:36:27|         113|          48|   NULL|
|           HV0003|              B02835|2021-01-01 00:48:56|2021-01-01 00:59:12|         239|          75|   NULL|
|           HV0004|              B02800|2021-01-01 00:15:24|2021-01-01 00:38:31|         181|         237|   NULL|
|           HV0004|              B02800|2021-01-01 00:45:00|2021-01-01 01:06:45|         236|          68|   NULL|
|           HV0003|              B02682|2021-01-01 00:11:53|2021-01-01 00:18:06|         256|         148|   NULL|
|           HV0003|              B02682|2021-01-01 00:28:31|2021-01-01 00:41:40|          79|          80|   NULL|
|           HV0003|              B02682|2021-01-01 00:50:49|2021-01-01 00:55:59|          17|         217|   NULL|
|           HV0005|              B02510|2021-01-01 00:08:40|2021-01-01 00:39:39|          62|          29|   NULL|
|           HV0003|              B02836|2021-01-01 00:53:48|2021-01-01 01:11:40|          22|          22|   NULL|
+-----------------+--------------------+-------------------+-------------------+------------+------------+-------+
only showing top 20 rows

In [23]:
df.head(5) # first 5

[Row(hvfhs_license_num='HV0003', dispatching_base_num='B02682', pickup_datetime='2021-01-01 00:33:44', dropoff_datetime='2021-01-01 00:49:07', PULocationID='230', DOLocationID='166', SR_Flag=None),
 Row(hvfhs_license_num='HV0003', dispatching_base_num='B02682', pickup_datetime='2021-01-01 00:55:19', dropoff_datetime='2021-01-01 01:18:21', PULocationID='152', DOLocationID='167', SR_Flag=None),
 Row(hvfhs_license_num='HV0003', dispatching_base_num='B02764', pickup_datetime='2021-01-01 00:23:56', dropoff_datetime='2021-01-01 00:38:05', PULocationID='233', DOLocationID='142', SR_Flag=None),
 Row(hvfhs_license_num='HV0003', dispatching_base_num='B02764', pickup_datetime='2021-01-01 00:42:51', dropoff_datetime='2021-01-01 00:45:50', PULocationID='142', DOLocationID='143', SR_Flag=None),
 Row(hvfhs_license_num='HV0003', dispatching_base_num='B02764', pickup_datetime='2021-01-01 00:48:14', dropoff_datetime='2021-01-01 01:08:42', PULocationID='143', DOLocationID='78', SR_Flag=None)]

In [24]:
df.schema #to see how spark infers everything as just strings

StructType([StructField('hvfhs_license_num', StringType(), True), StructField('dispatching_base_num', StringType(), True), StructField('pickup_datetime', StringType(), True), StructField('dropoff_datetime', StringType(), True), StructField('PULocationID', StringType(), True), StructField('DOLocationID', StringType(), True), StructField('SR_Flag', StringType(), True)])

In [2]:
# just the fist 100
!head -n 1001 fhvhv_tripdata_2021-01.csv > head.csv

In [6]:

import pandas as pd

In [10]:
df_pandas = pd.read_csv('head.csv')

In [11]:
df_pandas.dtypes

hvfhs_license_num        object
dispatching_base_num     object
pickup_datetime          object
dropoff_datetime         object
PULocationID              int64
DOLocationID              int64
SR_Flag                 float64
dtype: object

In [14]:
#create a spark dataframe from the pandas df
spark.createDataFrame(df_pandas).schema

StructType([StructField('hvfhs_license_num', StringType(), True), StructField('dispatching_base_num', StringType(), True), StructField('pickup_datetime', StringType(), True), StructField('dropoff_datetime', StringType(), True), StructField('PULocationID', LongType(), True), StructField('DOLocationID', LongType(), True), StructField('SR_Flag', DoubleType(), True)])

In [30]:
from pyspark.sql import types

In [14]:
schema = types.StructType([
            types.StructField('hvfhs_license_num',types.StringType(), True), 
            types.StructField('dispatching_base_num',types.StringType(), True), 
            types.StructField('pickup_datetime',types.TimestampType(), True), 
            types.StructField('dropoff_datetime',types.TimestampType(), True), 
            types.StructField('PULocationID',types.IntegerType(), True), #long 8 byte int 4 byte
            types.StructField('DOLocationID',types.IntegerType(), True), 
            types.StructField('SR_Flag',types.StringType(), True)
        ])

In [15]:
df = spark.read \
    .option("header", "true") \
    .schema(schema) \
    .csv('fhvhv_tripdata_2021-01.csv')

In [17]:
df.head(10)

[Row(hvfhs_license_num='HV0003', dispatching_base_num='B02682', pickup_datetime=datetime.datetime(2021, 1, 1, 0, 33, 44), dropoff_datetime=datetime.datetime(2021, 1, 1, 0, 49, 7), PULocationID=230, DOLocationID=166, SR_Flag=None),
 Row(hvfhs_license_num='HV0003', dispatching_base_num='B02682', pickup_datetime=datetime.datetime(2021, 1, 1, 0, 55, 19), dropoff_datetime=datetime.datetime(2021, 1, 1, 1, 18, 21), PULocationID=152, DOLocationID=167, SR_Flag=None),
 Row(hvfhs_license_num='HV0003', dispatching_base_num='B02764', pickup_datetime=datetime.datetime(2021, 1, 1, 0, 23, 56), dropoff_datetime=datetime.datetime(2021, 1, 1, 0, 38, 5), PULocationID=233, DOLocationID=142, SR_Flag=None),
 Row(hvfhs_license_num='HV0003', dispatching_base_num='B02764', pickup_datetime=datetime.datetime(2021, 1, 1, 0, 42, 51), dropoff_datetime=datetime.datetime(2021, 1, 1, 0, 45, 50), PULocationID=142, DOLocationID=143, SR_Flag=None),
 Row(hvfhs_license_num='HV0003', dispatching_base_num='B02764', pickup_datetime=datetime.datetime(2021, 1, 1, 0, 48, 14), dropoff_datetime=datetime.datetime(2021, 1, 1, 1, 8, 42), PULocationID=143, DOLocationID=78, SR_Flag=None),
 Row(hvfhs_license_num='HV0005', dispatching_base_num='B02510', pickup_datetime=datetime.datetime(2021, 1, 1, 0, 6, 59), dropoff_datetime=datetime.datetime(2021, 1, 1, 0, 43, 1), PULocationID=88, DOLocationID=42, SR_Flag=None),
 Row(hvfhs_license_num='HV0005', dispatching_base_num='B02510', pickup_datetime=datetime.datetime(2021, 1, 1, 0, 50), dropoff_datetime=datetime.datetime(2021, 1, 1, 1, 4, 57), PULocationID=42, DOLocationID=151, SR_Flag=None),
 Row(hvfhs_license_num='HV0003', dispatching_base_num='B02764', pickup_datetime=datetime.datetime(2021, 1, 1, 0, 14, 30), dropoff_datetime=datetime.datetime(2021, 1, 1, 0, 50, 27), PULocationID=71, DOLocationID=226, SR_Flag=None),
 Row(hvfhs_license_num='HV0003', dispatching_base_num='B02875', pickup_datetime=datetime.datetime(2021, 1, 1, 0, 22, 54), dropoff_datetime=datetime.datetime(2021, 1, 1, 0, 30, 20), PULocationID=112, DOLocationID=255, SR_Flag=None),
 Row(hvfhs_license_num='HV0003', dispatching_base_num='B02875', pickup_datetime=datetime.datetime(2021, 1, 1, 0, 40, 12), dropoff_datetime=datetime.datetime(2021, 1, 1, 0, 53, 31), PULocationID=255, DOLocationID=232, SR_Flag=None)]

In [18]:
# to avoid idle executors in the case of one big file. It is a lazy command
df = df.repartition(24)

In [19]:
df.write.parquet('fhvhv_tripdata') #repatition executes once this runs (ls -l | wc -l)

In [6]:
df = spark.read.parquet('fhvhv_tripdata')

In [7]:
df # we see that parquet infers the correct schema

DataFrame[hvfhs_license_num: string, dispatching_base_num: string, pickup_datetime: timestamp, dropoff_datetime: timestamp, PULocationID: int, DOLocationID: int, SR_Flag: string]

In [9]:
# df.schema
df.printSchema()

root
 |-- hvfhs_license_num: string (nullable = true)
 |-- dispatching_base_num: string (nullable = true)
 |-- pickup_datetime: timestamp (nullable = true)
 |-- dropoff_datetime: timestamp (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- SR_Flag: string (nullable = true)

Methods you can perform on a dataframe

In [16]:
!head -n 10 head.csv

hvfhs_license_num,dispatching_base_num,pickup_datetime,dropoff_datetime,PULocationID,DOLocationID,SR_Flag
HV0003,B02682,2021-01-01 00:33:44,2021-01-01 00:49:07,230,166,
HV0003,B02682,2021-01-01 00:55:19,2021-01-01 01:18:21,152,167,
HV0003,B02764,2021-01-01 00:23:56,2021-01-01 00:38:05,233,142,
HV0003,B02764,2021-01-01 00:42:51,2021-01-01 00:45:50,142,143,
HV0003,B02764,2021-01-01 00:48:14,2021-01-01 01:08:42,143,78,
HV0005,B02510,2021-01-01 00:06:59,2021-01-01 00:43:01,88,42,
HV0005,B02510,2021-01-01 00:50:00,2021-01-01 01:04:57,42,151,
HV0003,B02764,2021-01-01 00:14:30,2021-01-01 00:50:27,71,226,
HV0003,B02875,2021-01-01 00:22:54,2021-01-01 00:30:20,112,255,

In [18]:
# filter on its own is lazy(an action but show is a transformation)
df.select('pickup_datetime', 'dropoff_datetime', 'PULocationID') \
   .filter(df.hvfhs_license_num == 'HV0005') \
   .show()

+-------------------+-------------------+------------+
|    pickup_datetime|   dropoff_datetime|PULocationID|
+-------------------+-------------------+------------+
|2021-01-02 20:09:18|2021-01-02 20:33:50|          88|
|2021-01-01 03:27:24|2021-01-01 03:52:36|          87|
|2021-01-01 20:00:08|2021-01-01 20:15:49|         138|
|2021-01-02 09:56:56|2021-01-02 10:05:42|          76|
|2021-01-03 08:13:05|2021-01-03 08:19:01|          89|
|2021-01-02 18:37:23|2021-01-02 19:16:02|         132|
|2021-01-06 21:44:31|2021-01-06 21:48:51|          43|
|2021-01-06 13:30:13|2021-01-06 13:37:38|          15|
|2021-01-04 21:05:54|2021-01-04 21:19:09|         205|
|2021-01-04 23:55:34|2021-01-05 00:07:21|          74|
|2021-01-06 23:46:57|2021-01-06 23:59:49|         114|
|2021-01-03 14:20:10|2021-01-03 14:38:15|         164|
|2021-01-01 16:25:42|2021-01-01 16:47:24|         227|
|2021-01-01 17:59:24|2021-01-01 18:09:30|          92|
|2021-01-01 02:46:29|2021-01-01 02:59:51|         150|
|2021-01-05 12:52:25|2021-01-05 13:41:08|          17|
|2021-01-04 09:14:41|2021-01-04 09:36:35|         159|
|2021-01-06 13:44:25|2021-01-06 14:02:41|         235|
|2021-01-04 08:32:11|2021-01-04 08:36:15|         174|
|2021-01-06 08:05:34|2021-01-06 08:18:58|          82|
+-------------------+-------------------+------------+
only showing top 20 rows

In [19]:
# Functions available in spark
from pyspark.sql import functions as f

In [23]:
df \
.withColumn('pickup_date', f.to_date(df.pickup_datetime)) \
.withColumn('dropoff_date', f.to_date(df.dropoff_datetime)) \
.select('pickup_date', 'dropoff_date', 'PULocationID') \
.filter(df.hvfhs_license_num == 'HV0005') \
.show()

+-----------+------------+------------+
|pickup_date|dropoff_date|PULocationID|
+-----------+------------+------------+
| 2021-01-02|  2021-01-02|          88|
| 2021-01-01|  2021-01-01|          87|
| 2021-01-01|  2021-01-01|         138|
| 2021-01-02|  2021-01-02|          76|
| 2021-01-03|  2021-01-03|          89|
| 2021-01-02|  2021-01-02|         132|
| 2021-01-06|  2021-01-06|          43|
| 2021-01-06|  2021-01-06|          15|
| 2021-01-04|  2021-01-04|         205|
| 2021-01-04|  2021-01-05|          74|
| 2021-01-06|  2021-01-06|         114|
| 2021-01-03|  2021-01-03|         164|
| 2021-01-01|  2021-01-01|         227|
| 2021-01-01|  2021-01-01|          92|
| 2021-01-01|  2021-01-01|         150|
| 2021-01-05|  2021-01-05|          17|
| 2021-01-04|  2021-01-04|         159|
| 2021-01-06|  2021-01-06|         235|
| 2021-01-04|  2021-01-04|         174|
| 2021-01-06|  2021-01-06|          82|
+-----------+------------+------------+
only showing top 20 rows

In [24]:
df.show()

+-----------------+--------------------+-------------------+-------------------+------------+------------+-------+
|hvfhs_license_num|dispatching_base_num|    pickup_datetime|   dropoff_datetime|PULocationID|DOLocationID|SR_Flag|
+-----------------+--------------------+-------------------+-------------------+------------+------------+-------+
|           HV0003|              B02764|2021-01-06 00:34:29|2021-01-06 00:40:08|         243|         244|   NULL|
|           HV0005|              B02510|2021-01-02 20:09:18|2021-01-02 20:33:50|          88|         112|   NULL|
|           HV0003|              B02869|2021-01-03 17:10:54|2021-01-03 17:23:17|          20|         241|   NULL|
|           HV0003|              B02882|2021-01-07 07:15:38|2021-01-07 07:22:37|          56|          82|   NULL|
|           HV0003|              B02872|2021-01-06 08:09:45|2021-01-06 08:30:01|          79|         181|   NULL|
|           HV0003|              B02872|2021-01-01 21:43:11|2021-01-01 22:12:33|         129|          19|   NULL|
|           HV0003|              B02869|2021-01-01 09:21:19|2021-01-01 09:36:24|          90|          66|   NULL|
|           HV0003|              B02872|2021-01-03 15:48:21|2021-01-03 15:58:35|          89|          89|   NULL|
|           HV0003|              B02682|2021-01-01 03:49:44|2021-01-01 04:21:22|         225|         246|   NULL|
|           HV0005|              B02510|2021-01-01 03:27:24|2021-01-01 03:52:36|          87|          61|   NULL|
|           HV0003|              B02875|2021-01-05 14:13:03|2021-01-05 14:26:53|         134|          95|   NULL|
|           HV0003|              B02877|2021-01-02 23:18:34|2021-01-02 23:23:51|         236|         263|   NULL|
|           HV0005|              B02510|2021-01-01 20:00:08|2021-01-01 20:15:49|         138|         247|   NULL|
|           HV0003|              B02765|2021-01-02 18:26:56|2021-01-02 18:30:55|          80|         256|   NULL|
|           HV0003|              B02875|2021-01-04 13:19:12|2021-01-04 13:46:10|          76|          85|   NULL|
|           HV0003|              B02866|2021-01-06 17:14:35|2021-01-06 17:27:33|         181|         181|   NULL|
|           HV0003|              B02884|2021-01-06 20:25:59|2021-01-06 20:31:45|          35|          77|   NULL|
|           HV0005|              B02510|2021-01-02 09:56:56|2021-01-02 10:05:42|          76|          76|   NULL|
|           HV0003|              B02875|2021-01-06 14:14:19|2021-01-06 14:21:43|          37|         198|   NULL|
|           HV0003|              B02883|2021-01-04 21:30:36|2021-01-04 21:41:18|         215|         131|   NULL|
+-----------------+--------------------+-------------------+-------------------+------------+------------+-------+
only showing top 20 rows

In [27]:
# User defined functions example
def crazy_stuff(base_num):
    num = int(base_num[1:])
    if num % 7 == 0:
        return f's/{num:03x}'
    elif num % 3 == 0:
        return f't/{num:03x}'
    else:
        return f'n/{num:03x}'

In [28]:
crazy_stuff('B02875')

'n/b3b'

In [31]:
crazy_udf = f.udf(crazy_stuff, returnType=types.StringType())

In [32]:
df \
.withColumn('pickup_date', f.to_date(df.pickup_datetime)) \
.withColumn('dropoff_date', f.to_date(df.dropoff_datetime)) \
.withColumn('crazy_base', crazy_udf(df.dispatching_base_num)) \
.select('crazy_base','pickup_date', 'dropoff_date', 'PULocationID') \
.filter(df.hvfhs_license_num == 'HV0005') \
.show()

+----------+-----------+------------+------------+
|crazy_base|pickup_date|dropoff_date|PULocationID|
+----------+-----------+------------+------------+
|     n/9ce| 2021-01-02|  2021-01-02|          88|
|     n/9ce| 2021-01-01|  2021-01-01|          87|
|     n/9ce| 2021-01-01|  2021-01-01|         138|
|     n/9ce| 2021-01-02|  2021-01-02|          76|
|     n/9ce| 2021-01-03|  2021-01-03|          89|
|     n/9ce| 2021-01-02|  2021-01-02|         132|
|     n/9ce| 2021-01-06|  2021-01-06|          43|
|     n/9ce| 2021-01-06|  2021-01-06|          15|
|     n/9ce| 2021-01-04|  2021-01-04|         205|
|     n/9ce| 2021-01-04|  2021-01-05|          74|
|     n/9ce| 2021-01-06|  2021-01-06|         114|
|     n/9ce| 2021-01-03|  2021-01-03|         164|
|     n/9ce| 2021-01-01|  2021-01-01|         227|
|     n/9ce| 2021-01-01|  2021-01-01|          92|
|     n/9ce| 2021-01-01|  2021-01-01|         150|
|     n/9ce| 2021-01-05|  2021-01-05|          17|
|     n/9ce| 2021-01-04|  2021-01-04|         159|
|     n/9ce| 2021-01-06|  2021-01-06|         235|
|     n/9ce| 2021-01-04|  2021-01-04|         174|
|     n/9ce| 2021-01-06|  2021-01-06|          82|
+----------+-----------+------------+------------+
only showing top 20 rows

More on implementation with another dataset

In [8]:
!wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/yellow/yellow_tripdata_2021-01.csv.gz

--2024-03-22 09:06:32--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/yellow/yellow_tripdata_2021-01.csv.gz
Resolving github.com (github.com)... 20.87.245.0
Connecting to github.com (github.com)|20.87.245.0|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/f6895842-79e6-4a43-9458-e5b0b454a340?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240322%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240322T060633Z&X-Amz-Expires=300&X-Amz-Signature=8f84b634a2c06cc7af5814261bb9b2e0b62581d5d0bd52294234a7c39e2735f1&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dyellow_tripdata_2021-01.csv.gz&response-content-type=application%2Foctet-stream [following]
--2024-03-22 09:06:33--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/f6895842-79e6-4a43-9458-e5b0b454a340?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240322%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240322T060633Z&X-Amz-Expires=300&X-Amz-Signature=8f84b634a2c06cc7af5814261bb9b2e0b62581d5d0bd52294234a7c39e2735f1&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dyellow_tripdata_2021-01.csv.gz&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.111.133, 185.199.110.133, 185.199.108.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.111.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 25031880 (24M) [application/octet-stream]
Saving to: ‘yellow_tripdata_2021-01.csv.gz’

yellow_tripdata_202 100%[===================>]  23.87M   961KB/s    in 18s

2024-03-22 09:06:54 (1.31 MB/s) - ‘yellow_tripdata_2021-01.csv.gz’ saved [25031880/25031880]

In [9]:
df_green = spark.read \
    .option("header", "true") \
    .csv("yellow_tripdata_2021-01.csv.gz")

In [14]:
df_green.printSchema()

root
 |-- VendorID: string (nullable = true)
 |-- tpep_pickup_datetime: string (nullable = true)
 |-- tpep_dropoff_datetime: string (nullable = true)
 |-- passenger_count: string (nullable = true)
 |-- trip_distance: string (nullable = true)
 |-- RatecodeID: string (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- PULocationID: string (nullable = true)
 |-- DOLocationID: string (nullable = true)
 |-- payment_type: string (nullable = true)
 |-- fare_amount: string (nullable = true)
 |-- extra: string (nullable = true)
 |-- mta_tax: string (nullable = true)
 |-- tip_amount: string (nullable = true)
 |-- tolls_amount: string (nullable = true)
 |-- improvement_surcharge: string (nullable = true)
 |-- total_amount: string (nullable = true)
 |-- congestion_surcharge: string (nullable = true)

In [15]:
df_pd = pd.read_csv("yellow_tripdata_2021-01.csv.gz", nrows=1000)

In [17]:
df_pd.dtypes

VendorID                   int64
tpep_pickup_datetime      object
tpep_dropoff_datetime     object
passenger_count            int64
trip_distance            float64
RatecodeID                 int64
store_and_fwd_flag        object
PULocationID               int64
DOLocationID               int64
payment_type               int64
fare_amount              float64
extra                    float64
mta_tax                  float64
tip_amount               float64
tolls_amount             float64
improvement_surcharge    float64
total_amount             float64
congestion_surcharge     float64
dtype: object

In [18]:
spark.createDataFrame(df_pd).schema

StructType([StructField('VendorID', LongType(), True), StructField('tpep_pickup_datetime', StringType(), True), StructField('tpep_dropoff_datetime', StringType(), True), StructField('passenger_count', LongType(), True), StructField('trip_distance', DoubleType(), True), StructField('RatecodeID', LongType(), True), StructField('store_and_fwd_flag', StringType(), True), StructField('PULocationID', LongType(), True), StructField('DOLocationID', LongType(), True), StructField('payment_type', LongType(), True), StructField('fare_amount', DoubleType(), True), StructField('extra', DoubleType(), True), StructField('mta_tax', DoubleType(), True), StructField('tip_amount', DoubleType(), True), StructField('tolls_amount', DoubleType(), True), StructField('improvement_surcharge', DoubleType(), True), StructField('total_amount', DoubleType(), True), StructField('congestion_surcharge', DoubleType(), True)])

In [19]:
from pyspark.sql import types

In [25]:
yellow_schema = types.StructType([
    types.StructField('VendorID', types.IntegerType(), True), 
    types.StructField('tpep_pickup_datetime', types.TimestampType(), True), 
    types.StructField('tpep_dropoff_datetime', types.TimestampType(), True), 
    types.StructField('passenger_count', types.IntegerType(), True), 
    types.StructField('trip_distance', types.DoubleType(), True), 
    types.StructField('RatecodeID', types.IntegerType(), True), 
    types.StructField('store_and_fwd_flag', types.StringType(), True), 
    types.StructField('PULocationID', types.IntegerType(), True), 
    types.StructField('DOLocationID', types.IntegerType(), True), 
    types.StructField('payment_type', types.IntegerType(), True), 
    types.StructField('fare_amount', types.DoubleType(), True), 
    types.StructField('extra', types.DoubleType(), True), 
    types.StructField('mta_tax', types.DoubleType(), True), 
    types.StructField('tip_amount', types.DoubleType(), True), 
    types.StructField('tolls_amount', types.DoubleType(), True), 
    types.StructField('improvement_surcharge', types.DoubleType(), True), 
    types.StructField('total_amount', types.DoubleType(), True), 
    types.StructField('congestion_surcharge', types.DoubleType(), True)
    ])

In [26]:
df_yellow = spark.read \
    .option("header", "true") \
    .schema(yellow_schema) \
    .csv("yellow_tripdata_2021-01.csv.gz")

In [27]:
df_yellow.printSchema()

root
 |-- VendorID: integer (nullable = true)
 |-- tpep_pickup_datetime: timestamp (nullable = true)
 |-- tpep_dropoff_datetime: timestamp (nullable = true)
 |-- passenger_count: integer (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- RatecodeID: integer (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- payment_type: integer (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- congestion_surcharge: double (nullable = true)

In [29]:
df_yellow \
    .repartition(4) \
    .write \
    .parquet("pq/yellow/")

In [ ]:
# year = 2021
# for i in range(0, 13):
#     path= {where to read the data from}
#     out = {where to take the data}
#     read it using spark and write it to pq as shown above.

Spark SQL

In [4]:
df_sql = spark.read.parquet('pq/yellow/*')

In [5]:
df_sql.show()

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+
|       2| 2021-01-31 14:48:53|  2021-01-31 14:54:55|              2|         1.39|         1|                 N|         249|         234|           1|        6.5|  0.0|    0.5|      1.96|         0.0|                  0.3|       11.76|                 2.5|
|       2| 2021-01-14 07:40:14|  2021-01-14 07:50:53|              1|         2.32|         1|                 N|         234|          48|           2|       10.0|  0.0|    0.5|       0.0|         0.0|                  0.3|        13.3|                 2.5|
|       2| 2021-01-27 11:58:19|  2021-01-27 12:03:51|              1|         0.94|         1|                 N|         137|         162|           1|        5.5|  0.0|    0.5|       1.0|         0.0|                  0.3|         9.8|                 2.5|
|       2| 2021-01-15 20:11:20|  2021-01-15 20:39:36|              2|         6.97|         1|                 N|          48|           7|           2|       24.0|  0.5|    0.5|       0.0|        6.12|                  0.3|       33.92|                 2.5|
|       1| 2021-01-28 12:55:43|  2021-01-28 12:57:12|              1|          0.3|         1|                 N|         239|         239|           1|        3.5|  2.5|    0.5|       1.0|         0.0|                  0.3|         7.8|                 2.5|
|    NULL| 2021-01-14 10:46:00|  2021-01-14 11:14:00|           NULL|         5.42|      NULL|              NULL|         181|          21|        NULL|      33.15|  0.0|    0.5|      2.75|         0.0|                  0.3|        36.7|                 0.0|
|       1| 2021-01-09 15:38:25|  2021-01-09 15:42:41|              1|          1.0|         1|                 N|         140|         263|           1|        5.5|  2.5|    0.5|      1.75|         0.0|                  0.3|       10.55|                 2.5|
|    NULL| 2021-01-21 18:01:20|  2021-01-21 19:01:03|           NULL|        12.16|      NULL|              NULL|         265|         185|        NULL|      46.57|  0.0|    0.5|       0.0|         0.0|                  0.3|       47.37|                 0.0|
|       1| 2021-01-01 07:53:36|  2021-01-01 08:01:22|              1|          2.2|         1|                 N|         142|         236|           2|        9.0|  2.5|    0.5|       0.0|         0.0|                  0.3|        12.3|                 2.5|
|       2| 2021-01-11 09:37:03|  2021-01-11 09:49:47|              1|         2.61|         1|                 N|         239|         100|           1|       11.5|  0.0|    0.5|      2.96|         0.0|                  0.3|       17.76|                 2.5|
|       2| 2021-01-04 11:40:37|  2021-01-04 11:47:50|              1|          1.2|         1|                 N|         142|         163|           1|        7.0|  0.0|    0.5|       0.0|         0.0|                  0.3|        10.3|                 2.5|
|       2| 2021-01-29 19:21:41|  2021-01-29 19:28:01|              1|         1.06|         1|                 N|         140|         229|           1|        6.0|  1.0|    0.5|      1.75|         0.0|                  0.3|       12.05|                 2.5|
|       1| 2021-01-26 14:29:35|  2021-01-26 14:39:01|              1|          1.1|         1|                 N|         237|          43|           1|        7.5|  2.5|    0.5|      2.15|         0.0|                  0.3|       12.95|                 2.5|
|       2| 2021-01-27 15:11:39|  2021-01-27 15:31:25|              1|         4.22|         1|                 N|         140|         113|           1|       17.0|  0.0|    0.5|       2.0|         0.0|                  0.3|        22.3|                 2.5|
|       2| 2021-01-08 08:48:10|  2021-01-08 08:57:43|              1|         1.87|         1|                 N|         125|         246|           1|        9.0|  0.0|    0.5|      3.08|         0.0|                  0.3|       15.38|                 2.5|
|       2| 2021-01-28 18:41:21|  2021-01-28 18:46:55|              1|         0.97|         1|                 N|         164|         246|           1|        6.0|  1.0|    0.5|       2.7|         0.0|                  0.3|        13.0|                 2.5|
|       2| 2021-01-14 10:21:30|  2021-01-14 10:43:06|              1|         4.42|         1|                 N|         236|         211|           1|       17.5|  0.0|    0.5|       2.0|         0.0|                  0.3|        22.8|                 2.5|
|       2| 2021-01-14 11:29:14|  2021-01-14 11:52:00|              1|         5.15|         1|                 N|         141|         159|           1|       19.5|  0.0|    0.5|       0.0|         0.0|                  0.3|        22.8|                 2.5|
|       2| 2021-01-19 09:00:45|  2021-01-19 09:07:40|              1|         0.86|         1|                 N|          48|         230|           1|        6.5|  0.0|    0.5|      2.45|         0.0|                  0.3|       12.25|                 2.5|
|       1| 2021-01-15 09:48:26|  2021-01-15 09:53:47|              1|          0.9|         1|                 N|         186|         161|           2|        5.5|  2.5|    0.5|       0.0|         0.0|                  0.3|         8.8|                 2.5|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+
only showing top 20 rows

In [6]:
df_sql.printSchema()

root
 |-- VendorID: integer (nullable = true)
 |-- tpep_pickup_datetime: timestamp (nullable = true)
 |-- tpep_dropoff_datetime: timestamp (nullable = true)
 |-- passenger_count: integer (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- RatecodeID: integer (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- payment_type: integer (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- congestion_surcharge: double (nullable = true)

In [7]:
#Have to make it a temp table to be able to run sql queries
df_sql.createOrReplaceTempView('trips_data')

In [8]:
#Use jvm8 and not 11, export JAVA_HOME=/path/to/java-8-installation, export PATH=$PATH:$JAVA_HOME/bin
spark.sql("""
SELECT * FROM trips_data LIMIT 10;
""").show()

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+
|       2| 2021-01-31 14:48:53|  2021-01-31 14:54:55|              2|         1.39|         1|                 N|         249|         234|           1|        6.5|  0.0|    0.5|      1.96|         0.0|                  0.3|       11.76|                 2.5|
|       2| 2021-01-14 07:40:14|  2021-01-14 07:50:53|              1|         2.32|         1|                 N|         234|          48|           2|       10.0|  0.0|    0.5|       0.0|         0.0|                  0.3|        13.3|                 2.5|
|       2| 2021-01-27 11:58:19|  2021-01-27 12:03:51|              1|         0.94|         1|                 N|         137|         162|           1|        5.5|  0.0|    0.5|       1.0|         0.0|                  0.3|         9.8|                 2.5|
|       2| 2021-01-15 20:11:20|  2021-01-15 20:39:36|              2|         6.97|         1|                 N|          48|           7|           2|       24.0|  0.5|    0.5|       0.0|        6.12|                  0.3|       33.92|                 2.5|
|       1| 2021-01-28 12:55:43|  2021-01-28 12:57:12|              1|          0.3|         1|                 N|         239|         239|           1|        3.5|  2.5|    0.5|       1.0|         0.0|                  0.3|         7.8|                 2.5|
|    NULL| 2021-01-14 10:46:00|  2021-01-14 11:14:00|           NULL|         5.42|      NULL|              NULL|         181|          21|        NULL|      33.15|  0.0|    0.5|      2.75|         0.0|                  0.3|        36.7|                 0.0|
|       1| 2021-01-09 15:38:25|  2021-01-09 15:42:41|              1|          1.0|         1|                 N|         140|         263|           1|        5.5|  2.5|    0.5|      1.75|         0.0|                  0.3|       10.55|                 2.5|
|    NULL| 2021-01-21 18:01:20|  2021-01-21 19:01:03|           NULL|        12.16|      NULL|              NULL|         265|         185|        NULL|      46.57|  0.0|    0.5|       0.0|         0.0|                  0.3|       47.37|                 0.0|
|       1| 2021-01-01 07:53:36|  2021-01-01 08:01:22|              1|          2.2|         1|                 N|         142|         236|           2|        9.0|  2.5|    0.5|       0.0|         0.0|                  0.3|        12.3|                 2.5|
|       2| 2021-01-11 09:37:03|  2021-01-11 09:49:47|              1|         2.61|         1|                 N|         239|         100|           1|       11.5|  0.0|    0.5|      2.96|         0.0|                  0.3|       17.76|                 2.5|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+

In [21]:
df_yellow_rev = spark.sql("""
SELECT PULocationID, DATE_TRUNC('hour', tpep_pickup_datetime) as hour, SUM(total_amount) as amount, COUNT(1) as records
FROM trips_data
GROUP BY 1,2
ORDER BY 1, 2
""")

In [22]:
df_yellow_rev.show()

+------------+-------------------+------------------+-------+
|PULocationID|               hour|            amount|records|
+------------+-------------------+------------------+-------+
|           1|2021-01-01 10:00:00|              1.24|      4|
|           1|2021-01-01 11:00:00|0.9299999999999999|      3|
|           1|2021-01-01 14:00:00|             147.3|      1|
|           1|2021-01-02 09:00:00|             101.8|      1|
|           1|2021-01-02 13:00:00|              85.3|      1|
|           1|2021-01-03 03:00:00|              80.8|      1|
|           1|2021-01-03 09:00:00|            196.53|      5|
|           1|2021-01-03 12:00:00|              80.8|      1|
|           1|2021-01-03 17:00:00|              20.8|      1|
|           1|2021-01-04 08:00:00|              40.3|      1|
|           1|2021-01-04 10:00:00|            114.36|      1|
|           1|2021-01-04 13:00:00|               4.8|      1|
|           1|2021-01-04 17:00:00|             100.3|      1|
|           1|2021-01-05 05:00:00|              85.3|      1|
|           1|2021-01-05 16:00:00|              97.3|      1|
|           1|2021-01-07 09:00:00|              65.3|      1|
|           1|2021-01-07 12:00:00|            174.29|      1|
|           1|2021-01-09 07:00:00|              90.3|      1|
|           1|2021-01-09 13:00:00|             127.3|      1|
|           1|2021-01-10 07:00:00|              80.8|      1|
+------------+-------------------+------------------+-------+
only showing top 20 rows

In [24]:
df_yellow_rev \
    .repartition(20) \
    .write \
    .parquet("pq/revenue/", mode='overwrite')

In [29]:
df_zones = spark .read\
           .parquet('zones/')

In [30]:
df_result = df_yellow_rev.join(df_zones, df_yellow_rev.PULocationID == df_zones.LocationID)

In [33]:
df_result.drop('LocationID').write.parquet('pq/zone_rev/')